.idea
.coverage
*.xlsx
.cache
__pycache__
doc/_build/
data/*
!data/.gitignore
!data/*.dvc
*.npz
build/*
dist/*

# Ignore vscode settings
.vscode/*

# Place to prototype and interactive test code
_proto
